@import url("/static/potassium-es/css/potassium-es.css");
@import url("/static/potassium-components/css/potassium-components.css");

/*
App specific styles
*/

.portal-root .mode-switcher {
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.flat-root .mode-switcher {
	margin-top: 30px;
}
