@import url("/static/potassium-es/css/potassium-es.css");
@import url("/static/potassium-components/css/potassium-components.css");

/*
App specific styles
*/

.flat-root {
	padding: 10px;
	text-align: center;
}

.flat-root .heading-component {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}


.flat-root .mode-switcher-component {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}

.portal-root .mode-switcher-component {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
